// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

pre.language-go {
  font-family: 'Cascadia Code', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', courier, monospace;
}

.page .content__default {
  font-family: 'Playfair Display', 'Gayathri', Georgia, Times, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande",Arial, sans-serif;
}

.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
  font-family: 'Gayathri', Georgia, Times, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande",Arial, sans-serif;
}

body {
  font-size: 18px;
}

//
// /* system typefaces */
// $serif: 'Playfair Display', 'Gayathri', Georgia, Times, serif !default;
// $sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
//   "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
// $monospace: 'Overpass', Monaco, Consolas, "Lucida Console", monospace !default;
// 
// /* sans serif typefaces */
// $sans-serif-narrow: $sans-serif !default;
// $helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;
// 
// /* serif typefaces */
// $georgia: Georgia, serif !default;
// $times: Times, serif !default;
// $bodoni: "Bodoni MT", serif !default;
// $calisto: "Calisto MT", serif !default;
// $garamond: Garamond, serif !default;
// 
// $global-font-family: 'Gayathri', $sans-serif !default;
// $header-font-family: 'Merriweather', $sans-serif !default;
// $caption-font-family: $serif !default;
//