// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

pre.language-go {
  font-family: 'Cascadia Code', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', courier, monospace;
}

.page .content__default {
  font-family: 'Playfair Display', 'Gayathri', Georgia, Times, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande",Arial, sans-serif;
}

.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
  font-family: 'Gayathri', Georgia, Times, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande",Arial, sans-serif;
}

body {
  font-size: 18px;
  counter-reset: h2;
  counter-reset: h3;
  counter-reset: h4;
  counter-reset: h5;
  counter-reset: h6;
}

.page {
  h1 {
    counter-reset: h2;
    counter-reset: h3;
    counter-reset: h4;
    counter-reset: h5;
    counter-reset: h6;
  }
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}

  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

  h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none } 

}

//
// /* system typefaces */
// $serif: 'Playfair Display', 'Gayathri', Georgia, Times, serif !default;
// $sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
//   "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
// $monospace: 'Overpass', Monaco, Consolas, "Lucida Console", monospace !default;
// 
// /* sans serif typefaces */
// $sans-serif-narrow: $sans-serif !default;
// $helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;
// 
// /* serif typefaces */
// $georgia: Georgia, serif !default;
// $times: Times, serif !default;
// $bodoni: "Bodoni MT", serif !default;
// $calisto: "Calisto MT", serif !default;
// $garamond: Garamond, serif !default;
// 
// $global-font-family: 'Gayathri', $sans-serif !default;
// $header-font-family: 'Merriweather', $sans-serif !default;
// $caption-font-family: $serif !default;
//